@charset "UTF-8";
.icon-sprite, .icon-forget57, .icon-ok-log {
  background-image: url('/icon-s18d5bb5669.png');
  background-repeat: no-repeat;
}

.icon-forget57 {
  background-position: 0 0;
}

.icon-ok-log {
  background-position: 0 -62px;
}

/* CSS重置 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  line-height: 1.2;
  background: #fff;
  color: #333;
  -webkit-text-size-adjust: 100%;
  font-family: Helvetica,'Microsoft YaHei', arial, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, var, optgroup {
  font-style: normal;
  font-weight: normal;
}

del, ins {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}

input, button, textarea, select, optgroup, option {
  font-style: normal;
  font-weight: normal;
  outline: none;
}

input, button, textarea, select {
  *font-size: 100%;
}

textarea {
  resize: none;
}

i, em, strong {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #317ee7;
}
a:hover {
  color: #fb5651;
}

/* 文字排版 */
.f12 {
  font-size: 12px;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f20 {
  font-size: 20px;
}

.fb {
  font-weight: bold;
}

.fn {
  font-weight: normal;
}

.t2 {
  text-indent: 2em;
}

.lh150 {
  line-height: 150%;
}

.lh180 {
  line-height: 180%;
}

.lh200 {
  line-height: 200%;
}

.unl {
  text-decoration: underline;
}

.no_unl {
  text-decoration: none;
}

/* 定位 */
.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.bc {
  margin-left: auto;
  margin-right: auto;
}

.fl {
  float: left;
  display: inline;
}

.fr {
  float: right;
  display: inline;
}

.cb {
  clear: both;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

.clearfix {
  *zoom: 1;
}

.vm {
  vertical-align: middle;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.abs-right {
  position: absolute;
  right: 0;
}

.zoom {
  *zoom: 1;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

body {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

a:hover {
  border-bottom: 3px solid #4fc08d;
}

.button {
  background-color: #4fc08d !important;
  color: #fff !important;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
}

/* ---------- nav ---------- */
.nav {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}

.nav h1 {
  color: #4fc08d;
  display: inline-block;
  margin: 10px 0;
}

/* ---------- nav-setting ---------- */
.nav-setting {
  position: fixed;
  right: 30px;
  top: 35px;
  z-index: 999;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #fff !important;
}

.nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}

/* ---------- post-content ---------- */
.post-content h3 a {
  color: #4fc08d !important;
}

.post-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.post-content .tag.right {
  float: right;
  margin-right: 0;
}

.post-content .tag.right a {
  color: #999;
}
